@import url('https://rsms.me/inter/inter.css');


 * {
     box-sizing: border-box;
 }
body,.App,#root {
    height : 100vh;
    width : 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    
}
.custContainer {
    padding: 20px;
}

.filters {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    position: relative;
}

.filterConditions {
    height: 32px;
    background: rgba(24, 144, 255, 0.2);
    border-radius: 4px;
    margin-right: 2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding : 9px 19px 9px 19px;
    margin-bottom: 20px;
}
.filterConditions.allCustomers {
    width: 140px;
    }

.filterConditions .filterValue {
    height: 32px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #0786FC;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
        
        }

.filterConditions .separator {
width: 22px;
height: 15px;
font-family: Inter;
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 15px;
color: #0786FC;
}
        
.separator:hover {
    cursor: pointer;
}
.operators {
width: 266px;
height: 247px;
background: #FFFFFF;
box-shadow: 0px 10px 20px rgba(171, 174, 176, 0.5);
border-radius: 4px;
margin-top: 10px;
padding: 25px;
box-sizing: border-box;
/* position: absolute; */
position: relative;
right: 125px;
top : 30px;
z-index: 100000;
}

.showCount {
    min-width: 202px;
    height: 15px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;    
    line-height: 15px;
    color: #000000;
}

.sampleContainer {
    display : flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height : 500px;
}

.sample,.colorBlockWrapper {
    width : 50%;
    padding: 15px;
}
.colorBlock {
    width : 100%;
    height : 100%;
    background-color: red;
}
.colorBlock.red{
    background-color: red;
}
.colorBlock.green{
    background-color: green;
}
.colorBlock.yellow{
    background-color: yellow;
}
.colorBlock.blue{
    background-color: blue;
}

.colorBtn {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 20px;
    user-select: none;
    cursor: pointer;
    font-size : 22px;
}

.colorBtn input {
    position : absolute;
    display : none;
}

.checkmark {
    position : absolute;
    top : 0px;
    left : 0px;
    height : 30px;
    width : 30px;
    border-radius: 50%;
}

.checkmark::after {
    position : absolute;
    content : '';
}

.checkmark::after {
    height : 18px;
    width : 18px;
    left : 5px;
    top : 5px;
    border-radius: 50%;
}
.checkmark.red::after {
    background-color: red;
}
.checkmark.blue::after {
    background-color: blue;
}
.checkmark.green::after {
    background-color: green;
}
.checkmark.yellow::after {
    background-color: yellow;
}
.colorBtn input:checked ~ .checkmark {
    border : 1px solid black;
}


.close:after{
    display: inline-block;
    content: "\00d7"; /* This will render the 'X' */
    height : 20px;
    width : 20px;
  }


