@import url('https://rsms.me/inter/inter.css');
body {
    height : 100vh;
    width : 100vw;
    
}

#root, .App {
    height : 100vh;
    width : 100vw;
}

.custContainer {
    padding: 20px;
}

.filters {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    position: relative;
}

.filterConditions {
    height: 32px;
    background: rgba(24, 144, 255, 0.2);
    border-radius: 4px;
    margin-right: 2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding : 9px 19px 9px 19px;
}
.filterConditions.allCustomers {
    width: 140px;
    }

.filterConditions .filterValue {
    height: 32px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #0786FC;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
        
        }

        .filterConditions .separator {
width: 22px;
height: 15px;
font-family: Inter;
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 15px;
color: #0786FC;

        }
        

.separator:hover {
    cursor: pointer;
}
.operators {
width: 266px;
height: 247px;
background: #FFFFFF;
box-shadow: 0px 10px 20px rgba(171, 174, 176, 0.5);
border-radius: 4px;
margin-top: 10px;
padding: 25px;
box-sizing: border-box;
/* position: absolute; */
position: relative;
right: 125px;
top : 30px;
z-index: 100000;
}





/* .joiner {
    position: absolute;
    left: 0px;
    top: 50px;
} */

/* .operators input {
width: 192px;
height: 22px;

opacity: 0.5;

flex: none;
order: 0;
flex-grow: 1;
margin: 0px 10px;
} */
