<!DOCTYPE html>

<html>
    <head>
     <link href= "/css/styles.css" rel="stylesheet" type="text/css" />
        <title>announceB</title>
    </head>

    <body class="container">
        <h1>AnnounceB</h1>
        <div>
            <a href="/auth/signup">SignUp</a>
        </div>
        <div>
                <a href="/auth/login">LogIn</a>
            </div>
            <div>
                <a href="/auth/inviteteam">invite</a>
            </div>
    </body>
</html>