<!DOCTYPE html>

<html>
    <head>
        <title>announceB</title>
    </head>
    <body>
        <h1>AnnounceB</h1>
        <div>
            <a href="/auth/SignUpPage">SignUp</a>
        </div>
        <div>
                <a href="/auth/LogInPage">LogIn</a>
            </div>
            <div>
                <a href="/auth/inviteteam">invite</a>
            </div>
    </body>
</html>