<h1>Login page</h1>



<style>
.fleldWrapper{
    padding:20px;
}
.label {
padding : 20px 0px;
}
</style>

    <div class="fleldWrapper">
            <a href="/auth/SignUpPage">Signup</a>
    </div>
    <div class="fleldWrapper">
            
            <a href="/auth/google/login">login with google</a>
    </div>
