<html>
    <head>

    </head>
    <body>
    <style>
.fleldWrapper {
    padding : 20px;
}
.label {
padding : 20px 0px;
}
</style>

<form action="/auth/change/password" method="post">
    
    <div class="fleldWrapper">
            <div class="label"><label>password :</label></div>
    <input type="password" name="password" class="password" placeholder="password" required />
    </div>
    <div class="fleldWrapper">
            <button type="submit">submit</button>
    </div>
    </form>
</body>
    </html>