<html>
    <head>
         <link href= "/css/styles.css" rel="stylesheet" type="text/css" />   
        
    </head>
    <body>

        <div class="container" id="container">
                
            <div class="main center flexColumn"> 
                    <div class="title">
                            AppCoach 
                    </div>
                    <form action="/auth/reset" method="post" class="resetForm flexColumn" >
                                
                        
                                    <% if (message.length > 0) { %>
                                        <div class="success center"  style="margin-bottom: 30px;">
                                        <span><%= message %></span>
                                    </div>
                                        <% } %>      

                        <div class="label">
                        <span style="color:red">*</span>
                        <label>Work Email</label></div>
                                <input type="email" id="input" name="email" placeholder="Work Email" 
                                class="email input"></input>
                        
                        
                        <button type="submit" class="resetBtn">
                            <span class="btnText">Reset your account password</span>
                        </button>
                
                        <div class="center" style="margin-bottom:10px">
                                <span class="signintext"
                                 style="color: rgba(0, 0, 0, 0.4);position:relative; left:2px">
                                    Don’t have an account ?
                                </span>
                                <a href="/auth/signup" class="signuplink" 
                                style="position:relative; bottom:2px">
                                 Register
                             </a>
                         </div>
                         <div class="center" style="position: relative;left:5px">
                                <span class="signintext" 
                                style="color: rgba(0, 0, 0, 0.4);
                                position:relative; left:2px">
                                        Remember password ?
                                </span>
                                <a href="/auth/login" class="signuplink" 
                                style="position:relative; bottom:3px; right:5px">
                                    Login
                             </a>
                         </div>

                </form>
            </div>
        </div>
        <script>
            document.getElementsByClassName('resetBtn')[0].disabled = true;
            const email = document.getElementsByClassName("input")[0];
            document.getElementsByClassName("input")[0].oninput = function() {
                const emailVal = email.value;
                const length = emailVal.length;
                if(length == 0 || emailVal == "undefined") {
                    document.getElementsByClassName('resetBtn')[0].disabled = true;
                    document.getElementsByClassName('resetBtn')[0].classList.remove("enabled");
                }
                 else if(length > 0) {
                    document.getElementsByClassName('resetBtn')[0].disabled = false;
                    document.getElementsByClassName('resetBtn')[0].classList.add("enabled");
                }
};
            </script>
    </body>
    </html>