<html>
    <head>
         <link href= "/css/styles.css" rel="stylesheet" type="text/css" />   
        
    </head>
    <body>
        <div class="container">
            <div class="main center">
                    <div  class="signup center">
                        <div class="form">
                            <p class="title">AppCoach</p>
                            <h2>Start 14 days free trial</h2>
                            <p class="message">All features included, no credit card required</p>
                            <form action="/auth/register" method="post">
                                <div class="label" onclick="reset()">
                                <span style="color:red">*</span>
                                <label>Full Name</label></div>
                                <input  type="text" name="name" placeholder="Full Name"  class="name"/>

                                <div class="label">
                                <span style="color:red">*</span>
                                <label>Work Email</label></div>
                                <input type="email" name="email" placeholder="Work Email"  class="email"/>

                                <div class="label">
                                <span style="color:red">*</span>
                                <label>Password</label></div>
                                <input type="password" name="password" placeholder="Password"  class="password"/>
                                
                                <p class="info">Use atleast 6 characters, should have atleast one uppercase letter and a number</p>
                                <button type="submit">
                                    <span>Sign In to your account</span>
                                </button>
                        </form>
                        <div class="center">
                            <span class="or">or</span>
                        </div>
                        <a href="/auth/google/login" class="googleSignin"
                         style="text-decoration:none; background : white" >
                            <span>Sign in with Google</span>
                        </a>
                        </div>             
                    </div>

                    <div class="review center" style="flex-direction: column">
                        <span class="logo">Swipe Pages</span>
                        <blockquote>
                                “ Crafting unique user onboarding experience for different user segments made a huge impact on our support queries. We saw 40% decrease in feature related quesions once we adapted AppCoach.”
                        </blockquote>
                    </div>
            </div>
        </div>
        <script>
            function reset() {
                console.log("change");
            }
        </script>
        
    </body>
</html>